.card-list {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  list-style: none;
}

.card-list-item {
  background: white;
  border: 1px solid #e6e6ee;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  height: 265px;
  width: 100%;
}

.card-list-item img {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  height: 170px;
  width: 100%;
}

.card-list-item strong {
  color: #32264d;
  padding: 15px 10px;
}

.card-item-info {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  padding: 5px 10px;
}

.coutry {
  background: #f39772;
  border-radius: 4px;
  color: white;
  padding: 2px 5px;
}
