.main-foods-container {
  width: 100%;
  z-index: 1;
}

.main-foods-content {
  margin-bottom: 50px;
  padding: 20px;
}

.filters-button {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.btn-filter {
  background: #9871f5;
  border: none;
  border-radius: 4px;
  color: white;
  font-weight: 900;
  height: 40px;
}
