.main-foods-container {
  width: 100%;
  z-index: 1;
}

.main-foods-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 50px;
  padding: 20px;
}

.filters-button {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(3, 1fr);
}

.btn-filter {
  background: #fe676fd7;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  font-weight: 700;
  height: 40px;
}

.description-list strong {
  font-size: 18px;
}
