.header-container {
  align-items: center;
  background: #f8f6f6;
  border-bottom: 1px solid rgb(216, 211, 211);
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 8px 0;
  width: 100%;
}

.header-nav {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.header-nav h3 {
  font-size: 24px;
  margin-top: 10px;
  text-align: center;
}

.header-nav button {
  background: none;
  border: none;
}

.icon-user-avatar {
  width: 42px;
}

.icon-search {
  width: 35px;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button-search {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.button-user {
  display: flex;
  justify-content: flex-start;
}

.input-search {
  border: 1px solid rgb(216, 211, 211);
  border-radius: 4px;
  height: 45px;
  outline: none;
  padding-left: 15px;
  width: 100%;
}
