.header-container {
  align-items: center;
  background: #ffdada;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  width: 100%;
}

.header-content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px 0;
  width: 100%;
}

.header-nav {
  display: flex;
  justify-content: space-between;
}

.search {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-search {
  height: 40px;
  width: 100%;
}
