.footer-container {
  align-items: center;
  background: #fcfcfc;
  border-top: 2px solid rgb(228, 223, 223);
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: center;
  position: fixed;
  width: 100%;
}

.footer-content {
  display: flex;
  gap: 65px;
}

.footer-content button {
  background: none;
  border: none;
}

.footer-content button img {
  width: 30px;
}
