.main-explorer-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
}

.card-explorer-food, .card-explorer-drink {
  align-items: center;
  background: white;
  border: 1px solid rgb(230, 225, 225);
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  height: 90px;
  justify-content: space-between;
  padding: 0 20px;
}

.card-explorer-food img, .card-explorer-drink img {
  height: 60px;
}

.card-explorer-food strong, .card-explorer-drink strong {
  font-size: 20px;
  font-weight: 700;
}
